.tabList {
    display: flex;
    gap: 24px;
    margin-bottom: 27px;
}

.tabButton {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: rgba(255, 255, 255, 0.3);
    transition: color 0.15s;
}

.tabButton.selected {
    color: #fff;
}

.liveIcon {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    margin-right: 6px;
    display: flex;
    align-items: center;
}

.tweetList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 450px;
}