.iconButton {
    font-size: 10px;
    color: #03E1FF;
    padding: 0 6px;
    min-width: unset;
    height: 22px;
    background: none;
}

.iconButton :global(.icon-copy),
.iconButton :global(.icon-link) {
    font-size: 12px;
    color: #03E1FF;
}